body {
    background-image: url("fondo.png");
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
}

.titulo{
    color: rgb(255, 255, 255);
}

.inf{
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.infv{
    color: rgb(230, 161, 58s);
    font-size: 18px;
}

.general{
    background-color: rgba(59, 60, 61, 0.875);
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.validar{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(230, 161, 58);

}


 